*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#nome{
    font-size: 120px;
    font-family:cursive;
}
#container{
    background-color: rgb(59, 59, 59);
    width:450px;
    height:300px;
    border-radius: 10px;
    box-shadow: 0px, 0px, 10px, black;

    position: absolute;
    top: 40%;
    left: 40%;
}
body{
    background-color: rgba(0, 0, 0, 0.5);
}
#menu{
    margin-top: 10%;


    
    }
    #menu:hover{
        color: transparent;
        cursor: pointer;
    }
    #menu:after{

    }
