body{
    background-color: rgba(0, 0, 0, 0.5);
}
#cred{
    font-size: 120px;
    font-family: cursive;
    position: absolute;
    top: 10%;
    left: 37%;
}
.container{
    display: flex;
    display: block ;
    justify-content: center;
    margin-top: 20%;
    background-color: rgb(59, 59, 59);
    color:rgb(184, 183, 183);
    height: 400PX;
    width: 65%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    margin-left: 15%;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}
#html{
    font-size: 100px;
}
#cs{
    font-size: 100px;
}
#js{
    font-size: 100px;
}
#pe{
    font-size: 30px;
}
