body{
    background-color: rgba(0, 0, 0, 0.5);
}
#cmc{
    background-color: rgb(83, 77, 77);
    width: 1400px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(59, 59, 59);
    
    position: absolute;
    top: 30%;
    left: 12%;
}
#nome{
    font-size: 120px;
    font-family: cursive;

    position: absolute;
    top: -10%;
    left: 35%;
}
#container{
    width: 75%;
    height: 400px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;

    position: absolute;
    top: 37%;
    left: 11%;
}
#pnt{
    background-color: rgb(83, 77, 77);
    width: 1400px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(59, 59, 59);
    height: 50px;
    border-radius: 10px;

    position: absolute;
    top: 81%;
    left: 12%;
}
.quadrado{
    width: 70px;
    height: 70px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(134, 148, 148);
    box-shadow: 0px 0px 10px rgb(59, 59, 59);
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}
.quadrado:hover{
    background-color: gray;
    box-shadow: 0px 0px 10px black;
}
#mover{
    position: absolute;
    top: 3%;
    left: 21%;
}
