body{
    background-color: rgba(0, 0, 0, 0.5);
}
#oque{
    font-family: cursive;
    font-size: 50px;

    position: absolute;
    top: 5%;
    left: 2%;
}
#vlt{
    text-decoration: none;
    color: black;
    background-color: blue;
    border-radius: 10px;
    display: block;
    width: 85px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(94, 64, 64);
    color:rgb(184, 183, 183);
    box-shadow: 0px 0px 10px black;

    position: absolute;
    top: 90%;
    left: 3%;
}
#vlt:hover{
    box-shadow: 0 0 30px black;
    color: red;
}

#localDoTxt{
    width: 500px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
    box-shadow: 0px 0px 10px black;

   position: relative;
   top: 190px;
   left: 50px;
}
#txt{
    position: absolute;
    top: -1%;
    left: 3%;
    font-size: 30px;
    color:rgb(184, 183, 183);
}
#linha{
    width: 952px;
    height: 797px;
    background-color:rgba( 128, 128, 128, 0.5);
    box-shadow: 0px 0px 10px rgb(59, 59, 59);
    background-color: rgb(83, 77, 77);
    border-radius: 10px;
    
    position: absolute;
    top: 16%;
    left: 50%;
}