*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#nome{
    font-size: 120px;
    font-family:cursive;
}

#container{
    background-color: rgb(59, 59, 59);
    width:450px;
    height:300px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px black;

    position: absolute;
    top: 40%;
    left: 38%;
}
body{
    background-color: rgba(0, 0, 0, 0.5);
}
#jogo{
    
    text-decoration: none;
    font-size: 80px;
    color: #000;
}
#jogo:hover{
    color: red;
    text-shadow: 0 0 25px black;
}

#sobre{
    text-decoration: none;
    color: #000;

    position: relative;
    top: -11%;
}
#sobre:hover{
    color: red;
    text-shadow: 0 0 25px black;
}
#configuracao{
    text-decoration: none;
    color: #000;

    position: relative;
    top: -10%;
}
#configuracao:hover{
    color: red;
    text-shadow: 0 0 25px black;
}
#sair{
    text-decoration: none;
    color: #000;

    position: relative;
    top: -9%;
}
#sair:hover{
    color: red;
    text-shadow: 0 0 25px black;
}