body{
    background-color: rgba(0, 0, 0, 0.5);
}
#config{
    background-color: rgb(83, 77, 77);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(59, 59, 59);
    
    position: absolute;
    top: -8%;
    left: 0%;
}
#nome{
    font-size: 60px;
    font-family: cursive;
    margin-top: 10px;
}
#container{
    width: 90%;
    height: 450px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    position: absolute;
    top: 20%;
}
#saida{
    background-color: rgb(83, 77, 77);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(59, 59, 59);
    height: 50px;
    border-radius: 10px;

    position: absolute;
    top: 90%;
    left: 0%;
}
.quadrado{
    width: 70px;
    height: 70px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(134, 148, 148);
    box-shadow: 0px 0px 10px rgb(59, 59, 59);
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}
.quadrado:hover{
    background-color: gray;
    box-shadow: 0px 0px 10px black;
}
#mover{
    position: absolute;
    top: 3%;
    left: 21%;
}

#vlt{
    text-decoration: none;
    color: black;
    background-color: blue;
    border-radius: 10px;
    display: block;
    width: 85px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(94, 64, 64);
    color:rgb(184, 183, 183);
    box-shadow: 0px 0px 10px black;

    position: absolute;
    top: 10%;
    left: 72%;
}
#vlt:hover{
    box-shadow: 0 0 30px black;
    color: red;
}
#btn{
    background-color: darkslategrey;
    color:rgb(184, 183, 183);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;

    position: absolute;
    top: -8%;
    left: 0%;
}
#btn:hover{
    color: red;
    box-shadow: 0 0 15px black;
}
#pta{
    color:rgb(61, 53, 53);
    font-size: 25px;
    font-family: cursive;

    position: absolute;
    top: 105%;
    left: 70%;
}